# ESP-IDF build artifacts
build/
managed_components/

# Local IDE/editor files
.vscode/

# Generated or machine-local config
.clangd
sdkconfig
sdkconfig.old

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
Firmware/ESP32-S3-Touch-AMOLED-1.75-FactoryOnly.bin
